<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tahreem_fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecommendationsActivity"></activity>
        <activity android:name=".Product_view" />
        <activity
            android:name=".Recommendation"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Mirrorwork" />
        <activity android:name=".Ribbonwork" />
        <activity android:name=".Diying" />
        <activity android:name=".Qureshia" />
        <activity android:name=".Karhai" />
        <activity android:name=".Bunai" />
        <activity
            android:name=".Update_Password"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".login" />
        <activity android:name=".login" />
        <activity
            android:name=".splashactivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPassword"
            android:parentActivityName=".login" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".login" />
        <activity
            android:name=".CustomActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MatchingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Edit_Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StockActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" /> <!-- <meta-data -->
        <!-- android:name="com.facebook.accountkit.ClientToken" -->
        <!-- android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" /> -->
        <!--  -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>